body {
    background: #fff;
    width: 700px;
    margin: 0 auto;
}

h1 {
    color: #000;
    font-weight: normal;
    float: right;
    font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;

}

#bubbles {
    float: left;
}

#bubbles li {
    width: 500px;
    background: rgb(255, 255, 155);
    margin: 10px auto;
    border-radius: 50%;
    display: block;
    width: 50px;
    height: 50px;
    color: #000;
    text-align: center;
    font-size: 16px;
    line-height: 50px;
    transition: width 1s, height 1s;
}

#bubbles li.step {
    border: 3px solid green;
}

#bubbles li.cmp {
    border: 3px solid red;
}