body {
    background: #fff;
    max-width: 700px;
    margin: 50px auto;
}

h1 {
    color: #000;
    padding-bottom: 1em;
    border-bottom: #333 3px solid;
    font-family: "Times New Roman";
}

#bubbles, #bubbles li {
    padding: 0;
    margin: 0;
}

#bubbles {
    font-size: 0; /* white-space-collapse: discard; */
}

#bubbles li {
    background: rgba(0, 0, 0, .7);
    /* border-radius: 50%; */
    vertical-align: bottom;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
    width: 50px;
    position: relative;
    height: 30px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    /* transition: width 1s, height 1s; */
}

#bubbles li.step {
    /* border: 3px solid green; */
}

#bubbles li.cmp {
    border-top: 5px solid #F08080;
}